.header{
	.bg-inverse{
		opacity: 1 !important;
	}
	.navbar{
		background: black;
		opacity: 0.6;
		padding: 10px 0 5px;
		width: 100%;
		.navbar-nav{
			margin-left: auto;
			margin-right: 70px;
			.nav-item{
				padding: 0 15px;
		    border: 1.5px solid transparent;
		    color: white;	
		    margin-left: 40px;	
		    font-size: 1.1rem;
		    text-transform: uppercase;
		    cursor: pointer;
		    transition: color 0.5s, border-color 0.5s;
		    &:hover{
		    	color: $blue;
		    	border-color: $blue; 
		    }
			}	
			.nav-link.active{
	    	color: $blue;
	    	border-color: $blue; 
		  }		
		}
		.navbar-brand{
			color: $blue;
			font-family: 'black', sans-serif;
			font-size: 1.9rem;
		}
	}
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {

	.container-fluid{
		position: relative;
	}
	.container, .navbar{
		position: initial;
		width: 100%;
	}

	.header{
		.navbar{
			.navbar-brand{
				margin-left: 12px;
				margin-right: auto;
				font-size: 1.5rem;
			}
		}
		.navbar{
			.navbar-toggler{
				z-index: 9;
				top: 20px;
				height: 2.2rem;
				margin-left: auto;
				padding-top: 0;
				margin-top: -7px;
				.navbar-toggler-icon{
					background: $secondary-color;
					height: 1.5px;
					position: relative;
					&::after,
					&::before{
						content: '';
						background: #fff;
						width: 1.5em;
						height: 1.5px;
						position: absolute;
						left: 0;
						transition: transform .5s, background .5s;
					}
					&::after{
						top: -10px;
					}
					&::before{
						bottom: -10px;
					}
				}
				.open-toggler{
					background: transparent;
					&::after{
						top: 0;
						-ms-transform: rotate(-45deg); /* IE 9 */
				    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
				    transform: rotate(-45deg);
					}
					&::before{
						bottom: 0;
						-ms-transform: rotate(45deg); /* IE 9 */
				    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
				    transform: rotate(45deg);
					}
				}
			}
		}

		.navbar{
			.navbar-collapse{
				background: black;
				position: absolute;
				top: 0;
				left: 0;
				width: 100% !important;
				padding-bottom: 50px;
				z-index: 4;
				height: 100%;
				.navbar-nav{
					margin-top: 90px;
					.nav-item{
						text-align: center;
						margin-bottom: 40px;
						font-size: 1.8rem;
						font-weight: 100;
					}
				}
			}
		}
	}
}











