@font-face {
  font-family: 'black';
  src: url('blackjack.otf');
}

$primary-color: #464a4c;
$secondary-color: #fff;
$blue: #4bcaff;


$primary-font: sans-serif;
$secondary-font: Monaco, sans-serif;



